html, body {
  height: 100%;
  width: 100%;
  padding: 5px;
  background-color: black;
  color: white;
  
}
.grid{

  display: grid;
  grid-template-areas: 
  "one one one one one"
  "four two two two two"
  "four two two two two"
  "three three three three three";
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, auto);
}
.grid > * {
  background-color: rgb(0, 50, 100);
  border-radius: 10px;
  padding: auto;
  
}
.header{
  
  grid-area: one;
  padding: 20px;
}
.main{
  grid-area: two;
  padding: 20px;
}
.footer{
  grid-area: three;
  padding: 20px;
}
.nav{
  
  grid-area: four;
  padding: 20px;
}
.banner3{
  border-radius: 100px;
  width : 200px;
  height: 200px;
}

a {color: rgb(50, 125, 20);}
a:hover{color: red;}
.NoBullets{ list-style-type: none;}

.I-type{list-style-type: upper-roman;}
.i-type{list-style-type: lower-roman; }
.EveryOther{background-color: rgb(125, 50, 20)}

table {
  border: 2px solid;
  font-family: serif;
  font-size: 1.5em
}

th {
  background-color: black;
  color: white;
}

h1{
  position: relative;
  left: 70%;
  bottom: 80%;
}

#welcome{
  position: static
}