html, body {
  height: auto;
  width: 100%;
  padding: 5px;
  background-color: black;
  color: white;
}
img{
  height: auto;
  width: 100%;
}
.grid{

  display: grid;
  grid-template-areas: 
  "one one one one one one"
  "four four two two five five"
  "four four two two five five"
  "three three three three three three";
  gap: 10px;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(4, auto);
}
.grid > * {
  background-color: rgb(0, 50, 100);
  border-radius: 10px;
  padding: auto;
  
}
.header{
  
  grid-area: one;
  padding: 20px;
}
.main{
  grid-area: two;
  padding: 20px;
}
.footer{
  grid-area: three;
  padding: 20px;
}
.nav{
  
  grid-area: four;
  padding: 20px;
}
.aside{
  grid-area: five;
  padding: 20px;
}
.banner3{
  border-radius: 100px;
  width : 200px;
  height: 200px;
}

a {color: rgb(50, 125, 20);}
a:hover{color: red;}
.NoBullets{ list-style-type: none;}

.I-type{list-style-type: upper-roman;}
.i-type{list-style-type: lower-roman; }
.EveryOther{background-color: rgb(125, 50, 20)}

table {
  border: 2px solid;
  font-family: serif;
  font-size: 1.5em
}

th {
  background-color: black;
  color: white;
}

h1{
  position: relative;
  left: 70%;
  bottom: 80%;
}

#welcome{
  position: static
}

#canvas1{
  border: 5px solid green;
  background-color: white;
  height: auto;
  width: 100%;
  min-width: 50%;
}
.innerAside{
  height: auto;
  width: 100%;
}
@media  screen and (orientation: portrait) {
  html, body {
  height: auto;
  width: 100%;
  padding: 5px;
  background-color: pink;
  color: red;
  }
  .grid{
  
    display: grid;
    grid-template-areas: 
    "one one"
    "four four"
    "two two"
    "five five" 
    "three three";
    gap: 10px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
  }
  .grid > * {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: auto;
    
  }
  #canvas1{
  border: 5px solid red;
  height: auto;
  width: 100%;
  min-width: 50%;
  }
  .EveryOther{background-color: pink}
  a {color: red;}
  a:hover{color: green;}
  .NoBullets{ list-style-type:     none;}
}